params {
    maf_glob = "data/mafs/*.csv"
    hla_dir = "data/netmhcpan_input"
    expression_dir = "data/expressions"
    netmhcpan_chunk_size = 2000
    netmhcpan_max_forks = 4
}

process {
    executor = 'local'

    withName: NETMHCPAN {
        maxForks = params.netmhcpan_max_forks
    }
}
docker {
    enabled = true
}
